unpackaged/main/default/flows/CN_Hourly_Credit_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_all_Values</name>
        <label>Add all Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalHrsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Credits_Selected.Hours_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Credits_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_deducted</name>
        <label>Assign deducted Hrs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>finalDeductHrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Credits_Selected.Hours_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Credits_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Monthly_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Hours_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Credits_Selected.Hours_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_List</name>
        <label>Assign to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditUsageRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Credits_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_List</name>
        <label>Assign to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditUsageRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Credits_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Credit_Record_Hrs</name>
        <label>Update Credit Record Hrs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Credits_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditRecord.Hours_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDeductHrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Credits_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Monthly_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Hours_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDeductHrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditUsageRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Credit_Record_Status</name>
        <label>Update Credit Record Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redeemed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Credits_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditRecord.Hours_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDeductHrs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_deducted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Hrs</name>
        <label>Check Hrs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Credit_Record_Hrs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_than_Deduct_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_Through_Credits_Selected.Hours_Value__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>selectedDeductHrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Record_Status</targetReference>
            </connector>
            <label>if &lt; than Deduct hrs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calHrs</name>
        <dataType>Number</dataType>
        <expression>{!Get_Billing_Details.Free_Hours_or_Credits__c} +  VALUE({!Deduct_Hours})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>selectedDeductHrs</name>
        <dataType>Number</dataType>
        <expression> VALUE({!Deduct_Hours}) - {!finalDeductHrs}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CN - HourlyCredit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CN - Hourly Credit System</label>
    <loops>
        <name>Copy_1_of_Loop_Through_Credits_Selected</name>
        <label>Copy 1 of Loop Through Credits Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>creditsList.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Hrs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Credit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Credits_Selected</name>
        <label>Loop Through Credits Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>creditsList.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_all_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Credit_Usage_Records</name>
        <label>Credit Usage Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>creditUsageList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Available_Credits</name>
        <label>Get All Available Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Credits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Billing_Details.Client_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Details</name>
        <label>Get Billing Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Available_Credits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Monthly_Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Records</name>
        <label>Update Credit Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Credit_Usage_Records</targetReference>
        </connector>
        <inputReference>creditRecordList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Monthly_Billing_Record</name>
        <label>Update Monthly Billing Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Credits_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Free_Hours_or_Credits__c</field>
            <value>
                <elementReference>calHrs</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Billing__c</object>
    </recordUpdates>
    <screens>
        <name>Available_Credits</name>
        <label>Available Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Credits_Selected</targetReference>
        </connector>
        <fields>
            <name>creditsList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Credit__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Credits</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Available_Credits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fd5d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Credit Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Hours_Value__c&quot;,&quot;guid&quot;:&quot;column-28c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Available Hours&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Hours Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Expiration_Date__c&quot;,&quot;guid&quot;:&quot;column-be5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Expiration Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Values</name>
        <label>Selected Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Monthly_Billing_Record</targetReference>
        </connector>
        <fields>
            <name>Selected_Values_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selected_Values_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Credit_Hours</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>totalHrsSelected</elementReference>
                    </defaultValue>
                    <fieldText>Selected Credit Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selected_Values_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deduct_Hours</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>totalHrsSelected</elementReference>
                    </defaultValue>
                    <fieldText>Deduct Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Apply</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Billing_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>creditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit__c</objectType>
    </variables>
    <variables>
        <name>creditRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit__c</objectType>
    </variables>
    <variables>
        <name>creditUsageList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Usage__c</objectType>
    </variables>
    <variables>
        <name>creditUsageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Usage__c</objectType>
    </variables>
    <variables>
        <name>finalDeductHrs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalHrsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
