unpackaged/main/default/flows/CN_Update_Available_Credit_Hours_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Credit_Hours</name>
        <label>Add Credit Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Credits.Hours_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Credits</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CN - Update Credit Hours on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CN - Update Available Credit Hours on Account</label>
    <loops>
        <name>Loop_Through_Credits</name>
        <label>Loop Through Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_Credit_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Credit_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Credit_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Credit_Hours</name>
        <label>Get Account Credit Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Credits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Credit_Hours</name>
        <label>Update Account Credit Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Credit_Hours__c</field>
            <value>
                <elementReference>creditHours</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Credit_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hours_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </filters>
        <object>Credit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>creditHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
