unpackaged/main/default/flows/createLogbookFileFolders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>createLogbookFileFolders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createLogbookFileFolders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createFolder1</name>
        <label>createFolder1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>createFolder2</targetReference>
        </connector>
        <inputAssignments>
            <field>Logbook__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Confirmation File</stringValue>
            </value>
        </inputAssignments>
        <object>Logbook_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFolder2</name>
        <label>createFolder2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>createFolder3</targetReference>
        </connector>
        <inputAssignments>
            <field>Logbook__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email correspondence with client</stringValue>
            </value>
        </inputAssignments>
        <object>Logbook_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFolder3</name>
        <label>createFolder3</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Logbook__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email correspondence with vendor</stringValue>
            </value>
        </inputAssignments>
        <object>Logbook_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createFolder1</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
