unpackaged/main/default/flows/createFileFolders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>createFileFolders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createFileFolders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createFolder1</name>
        <label>createFolder1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>createFolder2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Account_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFolder2</name>
        <label>createFolder2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>createFolder3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Client Checklist / Questionnaire / Drop Client Checklist</stringValue>
            </value>
        </inputAssignments>
        <object>Account_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFolder3</name>
        <label>createFolder3</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>createFolder5</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Client Photo</stringValue>
            </value>
        </inputAssignments>
        <object>Account_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFolder5</name>
        <label>createFolder5</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>createFolder6</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Retainer Adjustments Correspondence</stringValue>
            </value>
        </inputAssignments>
        <object>Account_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFolder6</name>
        <label>createFolder6</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Doghouse / Angry Client Issues</stringValue>
            </value>
        </inputAssignments>
        <object>Account_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createFolder1</targetReference>
        </connector>
        <filterFormula>OR(
AND (ISNEW()= True, {!$Record.RecordType.DeveloperName} = &quot;Client_Account&quot;),
AND({!$Record__Prior.Create_Standard_Folders__c}= false, {!$Record.Create_Standard_Folders__c} = True)
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
