unpackaged/main/default/flows/Create_SMS_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Mobile_Phone</name>
        <label>Assign Mobile Phone</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>smsPhone.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Phone_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_Phone_0</name>
        <label>Assign Mobile Phone</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>smsPhone.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Phone_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Phone</name>
        <label>Assign Selected Phone</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>smsPhone.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opt_In_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Phone_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opt_In_Existing_Messaging_User</name>
        <label>Opt-In Existing Messaging User</label>
        <locationX>468</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>MessagingUser.MessagingConsentStatus__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessagingUser.Id__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_Phone_Exists_and_Update_vs_Create.Id__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_Exists_and_Update_vs_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsUpdate_to_False</name>
        <label>Set IsUpdate to False</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>IsUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_Exists_and_Update_vs_Create</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PhoneNumberNotinList</name>
        <choiceText>Phone Number Not in List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_existing_Opt_Out_Users</name>
        <label>Are there existing Opt-Out Users?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Mobile_Phone_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOptOutMessagingUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_SMS_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Phone_Match_SMS_Phone</name>
        <label>Does Phone Match SMS Phone?</label>
        <locationX>600</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Check_if_Phone_Exists_and_Update_vs_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>smsPhone.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_if_Phone_Exists_and_Update_vs_Create.MessagingPlatformKey__NotFound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_In_Existing_Messaging_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUpdate_Decision</name>
        <label>IsUpdate?</label>
        <locationX>380</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Create_Messaging_User_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_User_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Not_In_List</name>
        <label>Phone Not In List?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opt_In_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PhoneNumberNotinList</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MessagingUsersChoice</name>
        <dataType>String</dataType>
        <displayField>MessagingPlatformKey__NotFound</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingConsentStatus__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OptedOut</stringValue>
            </value>
        </filters>
        <object>MessagingEndUser__NotFound</object>
        <sortField>MessagingPlatformKey__NotFound</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>MessagingPlatformKey__NotFound</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create SMS User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opt-In SMS User</label>
    <loops>
        <name>Check_if_Phone_Exists_and_Update_vs_Create</name>
        <label>Check if Phone Exists and Update vs Create</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <collectionReference>getOptOutMessagingUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Phone_Match_SMS_Phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsUpdate_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Messaging_User_0_0</name>
        <label>Create Messaging User</label>
        <locationX>512</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__NotFound</field>
            <value>
                <elementReference>getContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__NotFound</field>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType__NotFound</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId__NotFound</field>
            <value>
                <stringValue>0Mj5a00000000WVCAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus__NotFound</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey__NotFound</field>
            <value>
                <elementReference>smsPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__NotFound</field>
            <value>
                <elementReference>smsPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser__NotFound</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOptOutMessagingUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOptOutMessagingUsers</name>
        <label>getOptOutMessagingUsers</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_existing_Opt_Out_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingConsentStatus__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OptedOut</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingEndUser__NotFound</object>
        <sortField>MessagingPlatformKey__NotFound</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_User_0</name>
        <label>Update Messaging User</label>
        <locationX>248</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputReference>MessagingUser</inputReference>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;SMS User Updated/Created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To start an SMS conversation, click &quot;Start Conversation&quot; in the top-right.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_SMS_Users</name>
        <label>Existing SMS Users</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Phone_Not_In_List</targetReference>
        </connector>
        <fields>
            <name>Opt_In_Phone</name>
            <choiceReferences>MessagingUsersChoice</choiceReferences>
            <choiceReferences>PhoneNumberNotinList</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PhoneNumberNotinList</defaultSelectedChoiceReference>
            <fieldText>Opt-In Phone</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_Phone_Confirmation</name>
        <label>SMS Phone Confirmation</label>
        <locationX>380</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_IsUpdate_to_False</targetReference>
        </connector>
        <fields>
            <name>FormatExample</name>
            <fieldText>&lt;p&gt;Phone number must be a North American phone number and start with +1 without any bracket or dashes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Example: +121225652587&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>smsPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opt-In SMS to This Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>smsPhone.label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>(\+\d{1,4})?\d{10}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MessagingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MessagingEndUser__NotFound</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
