unpackaged/main/default/flows/customLogbookClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>multiplier0</name>
        <choiceText>0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiplier1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiplier2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiplier3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>multiplier4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiplier5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiplier6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>timeTypeRegular</name>
        <choiceText>Regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>timeTypeRezList</name>
        <choiceText>Rez List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rez List</stringValue>
        </value>
    </choices>
    <decisions>
        <name>nocloneDecision</name>
        <label>nocloneDecision</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>getLogbookDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noCloneTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.NoClone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noCloneText</targetReference>
            </connector>
            <label>noCloneTrue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>bookingSourceChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_for_booking__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplierReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiplier_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>parentCase</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getLogbookDetails.Original_Clone__c}), {!recordId}, {!getLogbookDetails.Original_Clone__c})</expression>
    </formulas>
    <formulas>
        <name>timeTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!TimeType}), {!timeTypeRegular}, {!TimeType})</expression>
    </formulas>
    <interviewLabel>customLogbookClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>customLogbookClone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewLogbook</name>
        <label>createNewLogbook</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Time_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getLogbookDetails.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Policy_Type__c</field>
            <value>
                <elementReference>getVendorDetails.Cancellation_Policy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Policy__c</field>
            <value>
                <elementReference>getVendorDetails.Cancellation_Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getLogbookDetails.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>getLogbookDetails.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guest_Information_Special_Instructions__c</field>
            <value>
                <elementReference>getVendorDetails.Guest_Information_Special_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insider_Team__c</field>
            <value>
                <elementReference>getLogbookDetails.Insider_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logbook_State__c</field>
            <value>
                <elementReference>getLogbookDetails.Logbook_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Billing__c</field>
            <value>
                <elementReference>getLogbookDetails.Monthly_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_in_Party__c</field>
            <value>
                <elementReference>getLogbookDetails.Number_in_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>getLogbookDetails.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Clone__c</field>
            <value>
                <elementReference>parentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Using__c</field>
            <value>
                <elementReference>getLogbookDetails.Person_Using__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getLogbookDetails.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By_Someone_Else__c</field>
            <value>
                <elementReference>getLogbookDetails.Requested_By_Someone_Else__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Time__c</field>
            <value>
                <elementReference>getLogbookDetails.Requested_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Occasion_With__c</field>
            <value>
                <elementReference>getLogbookDetails.Special_Occasion_With__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Occasion__c</field>
            <value>
                <elementReference>getLogbookDetails.Special_Occasion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Confirm_subject_for_new_logbook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>vendorLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getLogbookDetails</name>
        <label>getLogbookDetails</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVendorDetails</name>
        <label>getVendorDetails</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createNewLogbook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setTimeDetails</name>
        <label>setTimeDetails</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>LinkToLogbook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createNewLogbook</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enter_Time__c</field>
            <value>
                <elementReference>Time_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Reason__c</field>
            <value>
                <elementReference>multiplierReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <elementReference>Multiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Description__c</field>
            <value>
                <elementReference>Time_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Log_Team_Member__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Log_Type__c</field>
            <value>
                <elementReference>timeTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Clone_Details</name>
        <label>Clone Details</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getVendorDetails</targetReference>
        </connector>
        <fields>
            <name>vendorLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Vendor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select the new vendor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_subject_for_new_logbook</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getLogbookDetails.Subject</elementReference>
            </defaultValue>
            <fieldText>Confirm subject for new logbook</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source_for_Booking</name>
            <choiceReferences>bookingSourceChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source for Booking</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>12345</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Source_for_Booking_Other</name>
            <dataType>String</dataType>
            <fieldText>Source for Booking (Other)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>12345</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Number</name>
            <dataType>String</dataType>
            <fieldText>Confirmation Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>12345</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Confirmation Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>12345</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LinkToLogbook</name>
        <label>LinkToLogbook</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Success!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;a href=&quot;/{!createNewLogbook}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;HERE&lt;/a&gt; to access your new logbook.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noCloneText</name>
        <label>noCloneText</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAuthorized</name>
            <fieldText>&lt;p&gt;You are not authorized to clone records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Log</name>
        <label>Time Log</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setTimeDetails</targetReference>
        </connector>
        <fields>
            <name>Time_Minutes</name>
            <dataType>Number</dataType>
            <fieldText>Time (Minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Time_Description</name>
            <fieldText>Time Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Multiplier</name>
            <choiceReferences>multiplier0</choiceReferences>
            <choiceReferences>multiplier1</choiceReferences>
            <choiceReferences>multiplier2</choiceReferences>
            <choiceReferences>multiplier3</choiceReferences>
            <choiceReferences>multiplier4</choiceReferences>
            <choiceReferences>multiplier5</choiceReferences>
            <choiceReferences>multiplier6</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>multiplier1</defaultSelectedChoiceReference>
            <fieldText>Multiplier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>multiplierReason</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>multiplierReasons</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiplier Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TimeType</name>
            <choiceReferences>timeTypeRegular</choiceReferences>
            <choiceReferences>timeTypeRezList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>nocloneDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
