unpackaged/main/default/flows/deactivateClient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addToContactsForUpdate</name>
        <label>addToContactsForUpdate</label>
        <locationX>372</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>contactsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToUpdateCollection</name>
        <label>addToUpdateCollection</label>
        <locationX>720</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>PMsforUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachPM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPaymentMethods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEachContact</name>
        <label>assignEachContact</label>
        <locationX>372</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>eachContact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachContact.Inactive_Deceased_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Account deactivated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToContactsForUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVariables</name>
        <label>assignVariables</label>
        <locationX>720</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>eachPM.Credit_Card_Number_Encrypted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cardInactive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachPM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPaymentMethods.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachPM.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachPM.Inactive_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client offboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <description>-removed delete payment methods including 6 month delay</description>
    <formulas>
        <name>cardInactive</name>
        <dataType>String</dataType>
        <expression>&quot;INACTIVE-&quot; &amp; RIGHT({!loopPaymentMethods.Credit_Card_Number_Encrypted__c}, 4)</expression>
    </formulas>
    <interviewLabel>deactivateClient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>deactivateClient</label>
    <loops>
        <name>loopContacts</name>
        <label>loopContacts</label>
        <locationX>284</locationX>
        <locationY>576</locationY>
        <collectionReference>getRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignEachContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatecontacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPaymentMethods</name>
        <label>loopPaymentMethods</label>
        <locationX>632</locationX>
        <locationY>579</locationY>
        <collectionReference>getRelatedPaymentMethods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignVariables</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedContacts</name>
        <label>getRelatedContacts</label>
        <locationX>284</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedPaymentMethods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedPaymentMethods</name>
        <label>getRelatedPaymentMethods</label>
        <locationX>284</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatecontacts</name>
        <label>updatecontacts</label>
        <locationX>272</locationX>
        <locationY>1016</locationY>
        <inputReference>contactsForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>290</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getRelatedContacts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Past Client</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait6Mos</name>
            <connector>
                <targetReference>loopPaymentMethods</targetReference>
            </connector>
            <label>Wait6Mos</label>
            <offsetNumber>180</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>eachContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>eachPM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Method__c</objectType>
    </variables>
    <variables>
        <name>PMsforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Method__c</objectType>
    </variables>
</Flow>
