unpackaged/main/default/flows/flightCreatesTickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addToCreateCollection</name>
        <label>addToCreateCollection</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ticketsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTicket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>wipeFFID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setffId</name>
        <label>setffId</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ffId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopFF.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopFF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTicketDetails</name>
        <label>setTicketDetails</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>eachTicket.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Logbook__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachTicket.Flight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachTicket.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPassengers.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachTicket.Global_Entry_TSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPassengers.Contact__r.Global_Entry_TSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachTicket.Frequent_Flyer_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToCreateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>wipeFFID</name>
        <label>wipeFFID</label>
        <locationX>352</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ffId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loopPassengers</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filterFF</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterFF</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_filterFF_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getFF</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterFF_0.Client_Name__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loopPassengers.Contact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopFF</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>flightCreatesTickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flightCreatesTickets</label>
    <loops>
        <name>loopFF</name>
        <label>loopFF</label>
        <locationX>352</locationX>
        <locationY>755</locationY>
        <collectionReference>filterFF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setffId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setTicketDetails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPassengers</name>
        <label>loopPassengers</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>getPassengers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filterFF</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createTickets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createTickets</name>
        <label>createTickets</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputReference>ticketsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getFF</name>
        <label>getFF</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPassengers</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Airline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Airline__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airline_lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Airline__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Frequent_Flyer_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPassengers</name>
        <label>getPassengers</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Logbook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Logbook__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Passenger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPassengers</targetReference>
        </connector>
        <object>Flight_Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filterFF_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Frequent_Flyer_Number__c</objectType>
    </variables>
    <variables>
        <name>eachTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Airline_Ticket__c</objectType>
    </variables>
    <variables>
        <name>ffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticketsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Airline_Ticket__c</objectType>
    </variables>
</Flow>
