unpackaged/main/default/flows/itineraryFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addToUpdateCollection</name>
        <label>addToUpdateCollection</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>logbooksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachLogbook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedLogbooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedValueToSelectedLogbookValues</name>
        <label>assignSelectedValueToSelectedLogbookValues</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedLogbookValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_the_logbooks_to_add_to_this_itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedLogbookValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedLogbooksDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetSelectedLogbookValues</name>
        <label>resetSelectedLogbookValues</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SelectedLogbookValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedSelectedLogbookValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>selectedLogbooksDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEachLogbookValues</name>
        <label>setEachLogbookValues</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>eachLogbook.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedLogbooks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachLogbook.Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createItinerary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSingleLogbookValue</name>
        <label>setSingleLogbookValue</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>singleLogbookValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleLogbookFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logbookCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleLogbookValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>resetSelectedLogbookValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>selectedLogbooksDecision</name>
        <label>selectedLogbooksDecision</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>setSingleLogbookValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedLogbookValuesNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedLogbookValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSelectedLogbooks</targetReference>
            </connector>
            <label>SelectedLogbookValuesNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>logbooks</name>
        <collectionReference>getRelatedLogbooks</collectionReference>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SingleLogbookFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!SelectedLogbookValues} , FIND(&quot;;&quot;,  {!SelectedLogbookValues} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UpdatedSelectedLogbookValues</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE( {!SelectedLogbookValues} ,  {!singleLogbookValue}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>itineraryFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>itineraryFlow</label>
    <loops>
        <name>loopSelectedLogbooks</name>
        <label>loopSelectedLogbooks</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>logbookCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setEachLogbookValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateLogbooks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createItinerary</name>
        <label>createItinerary</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>getRelatedLogbooks</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>getLogbookDetails.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>getLogbookDetails.Date_of_Return__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logbook__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Please_enter_the_name_of_the_trip_as_it_should_show_up_in_the_Itinerary_document</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>getLogbookDetails.Date_of_Departure__c</elementReference>
            </value>
        </inputAssignments>
        <object>Itinerary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getLogbookDetails</name>
        <label>getLogbookDetails</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itinerary_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedLogbooks</name>
        <label>getRelatedLogbooks</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Logbook_Selection</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0120b000000VTXVAA4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>Reference_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateLogbooks</name>
        <label>updateLogbooks</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <inputReference>logbooksToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Itinerary_Details</name>
        <label>Itinerary Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createItinerary</targetReference>
        </connector>
        <fields>
            <name>Please_enter_the_name_of_the_trip_as_it_should_show_up_in_the_Itinerary_document</name>
            <dataType>String</dataType>
            <fieldText>Please enter the name of the trip as it should show up in the Itinerary document</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Logbook_Selection</name>
        <label>Logbook Selection</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignSelectedValueToSelectedLogbookValues</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_logbooks_to_add_to_this_itinerary</name>
            <choiceReferences>logbooks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the logbooks to add to this itinerary</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLogbookDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eachLogbook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>logbookCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>logbooksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedLogbookValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleLogbookValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
