unpackaged/main/default/flows/logbookCommissionsFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>commissionableDecision</name>
        <label>commissionableDecision</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CommissionableTrueNotCoastLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getVendorDetails.Commissionable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVendorDetails.Commission_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Coastline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLogbookFields</targetReference>
            </connector>
            <label>CommissionableTrueNotCoastLine</label>
        </rules>
        <rules>
            <name>CommissionableTrueCoastline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getVendorDetails.Commissionable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVendorDetails.Commission_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coastline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateLogbookFields</targetReference>
            </connector>
            <label>CommissionableTrueCoastline</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>commissionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(
AND(
{!$Record.RT_Choice__c} != &quot;Hotel Booking&quot;,
{!$Record.RT_Choice__c} != &quot;DMC / On Site Trip Booking&quot;,
{!$Record.RT_Choice__c} != &quot;Charter&quot;,
{!$Record.RT_Choice__c} != &quot;Flight Booking&quot;,
{!$Record.RT_Choice__c} != &quot;House/Villa Booking&quot;,
{!$Record.RT_Choice__c} != &quot;Tour Booking&quot;
),
IF(
VALUE({!$Record.Room_Rate__c}) * {!$Record.of_Nights__c} &gt; 0, 
{!getVendorDetails.Commission_Val__c} * (VALUE({!$Record.Room_Rate__c}) * {!$Record.of_Nights__c}) / 100,
{!getVendorDetails.Commission_Val__c} * {!$Record.Total_Price__c} / 100), NULL)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>logbookCommissionsFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>logbookCommissionsFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getVendorDetails</name>
        <label>getVendorDetails</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>commissionableDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateLogbookFields</name>
        <label>Copy 1 of updateLogbookFields</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Commission_Type__c</field>
            <value>
                <stringValue>Coastline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Vendor__c</field>
            <value>
                <stringValue>0010b00002Mthz8AAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commissionable__c</field>
            <value>
                <elementReference>getVendorDetails.Commissionable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Commission__c</field>
            <value>
                <elementReference>getVendorDetails.Commission_Val__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_Commission_Payment__c</field>
            <value>
                <elementReference>getVendorDetails.Method_of_Commission_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLogbookFields</name>
        <label>updateLogbookFields</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Commission_Type__c</field>
            <value>
                <elementReference>getVendorDetails.Commission_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Vendor__c</field>
            <value>
                <elementReference>getVendorDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commissionable__c</field>
            <value>
                <elementReference>getVendorDetails.Commissionable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Commission__c</field>
            <value>
                <elementReference>getVendorDetails.Commission_Val__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insider_Commission__c</field>
            <value>
                <elementReference>commissionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_Commission_Payment__c</field>
            <value>
                <elementReference>getVendorDetails.Method_of_Commission_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getVendorDetails</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
