unpackaged/main/default/flows/MonthlyBilling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>-if customer is active and next billing is scheduled, creates a subsequent billing record
- temp remove notes</description>
    <environments>Default</environments>
    <formulas>
        <name>billingName</name>
        <dataType>String</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})=1, &quot;January &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=2, &quot;February &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=3, &quot;March &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=4, &quot;April &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=5, &quot;May &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=6, &quot;June &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=7, &quot;July &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=8, &quot;August &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=9, &quot;September &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=10, &quot;October &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=11, &quot;November &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=12, &quot;December &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
&quot;This Month&quot;))))))))))))</expression>
    </formulas>
    <formulas>
        <name>firstOfMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(Today()), MONTH(Today()), 1)</expression>
    </formulas>
    <formulas>
        <name>lastDayofTheMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()),
  MONTH(TODAY()) + 1,
  1
) - 1</expression>
    </formulas>
    <interviewLabel>MonthlyBilling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MonthlyBilling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createBilling</name>
        <label>createBilling</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>TurnOffSchedule</targetReference>
        </connector>
        <inputAssignments>
            <field>Billable_Time_Logged_MTD_hours__c</field>
            <value>
                <elementReference>$Record.Billable_Time_Logged_MTD_hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Warned__c</field>
            <value>
                <elementReference>$Record.Date_Warned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>lastDayofTheMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Hours_or_Credits__c</field>
            <value>
                <elementReference>$Record.Free_Hours_or_Credits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holding_Off__c</field>
            <value>
                <elementReference>$Record.Holding_Off__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_per_Month__c</field>
            <value>
                <elementReference>$Record.Hours_per_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Case_of_Emergency_Overhours_Notes__c</field>
            <value>
                <elementReference>$Record.In_Case_of_Emergency_Overhours_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Day_of_Month__c</field>
            <value>
                <elementReference>lastDayofTheMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>billingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Warning__c</field>
            <value>
                <elementReference>$Record.Not_Warning__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhours_Charged_During_the_Month__c</field>
            <value>
                <elementReference>$Record.Overhours_Charged_During_the_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhours_Notes__c</field>
            <value>
                <elementReference>$Record.Overhours_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhours_Rate__c</field>
            <value>
                <elementReference>$Record.Overhours_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retainer__c</field>
            <value>
                <elementReference>$Record.Monthly_Retainer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>firstOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>$Record.Insider_Team__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warning_Given_By__c</field>
            <value>
                <elementReference>$Record.Warned_By__c</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>TurnOffSchedule</name>
        <label>TurnOffSchedule</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_Warned__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Hours_or_Credits__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Holding_Off__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Case_of_Emergency_Overhours_Notes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Billing_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Warning__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhours_Notes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Warned_By__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createBilling</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Next_Billing_Scheduled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
