unpackaged/main/default/flows/NewClientMonthlyBilling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>NewClientType</name>
        <label>NewClientType</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insider_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insider Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_createBilling</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Insider Client</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>billingName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name} &amp; &quot; - &quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})), 80)</expression>
    </formulas>
    <formulas>
        <name>firstRecordName</name>
        <dataType>String</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})=1, 
LEFT({!$Record.Name} &amp; &quot; - &quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})-1) &amp; &quot;/&quot; &amp; TEXT(Year({!$Flow.CurrentDate})-1), 80),
LEFT({!$Record.Name} &amp; &quot; - &quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})-1) &amp; &quot;/&quot; &amp; TEXT(Year({!$Flow.CurrentDate})), 80))</expression>
    </formulas>
    <interviewLabel>NewClientMonthlyBilling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewClientMonthlyBilling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_createBilling</name>
        <label>Copy 1 of createBilling</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_per_Month__c</field>
            <value>
                <elementReference>$Record.Hours_per_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>firstRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhours_Rate__c</field>
            <value>
                <elementReference>$Record.Overhours_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retainer__c</field>
            <value>
                <elementReference>$Record.Monthly_Retainer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>$Record.Insider_Team__c</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NewClientType</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
