unpackaged/main/default/flows/NewClientMonthlyBilling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>NewClientType</name>
        <label>NewClientType</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insider_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insider Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_createBilling</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Insider Client</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>billingName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name} &amp; &quot; - &quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})), 80)</expression>
    </formulas>
    <formulas>
        <name>firstRecordName</name>
        <dataType>String</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})=1, &quot;January &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=2, &quot;February &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=3, &quot;March &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=4, &quot;April &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=5, &quot;May &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=6, &quot;June &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=7, &quot;July &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=8, &quot;August &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=9, &quot;September &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=10, &quot;October &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=11, &quot;November &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
IF(MONTH({!$Flow.CurrentDate})=12, &quot;December &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate})), 
&quot;This Month&quot;))))))))))))</expression>
    </formulas>
    <formulas>
        <name>lastDayofTheMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()),
  MONTH(TODAY()) + 1,
  1
) - 1</expression>
    </formulas>
    <interviewLabel>NewClientMonthlyBilling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewClientMonthlyBilling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_createBilling</name>
        <label>Copy 1 of createBilling</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>lastDayofTheMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_per_Month__c</field>
            <value>
                <elementReference>$Record.Hours_per_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Case_of_Emergency_Overhours_Notes__c</field>
            <value>
                <elementReference>$Record.In_Case_of_Emergency_Overhours_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Day_of_Month__c</field>
            <value>
                <elementReference>lastDayofTheMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>firstRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhours_Rate__c</field>
            <value>
                <elementReference>$Record.Overhours_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retainer__c</field>
            <value>
                <elementReference>$Record.Monthly_Retainer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>$Record.Insider_Team__c</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NewClientType</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
