unpackaged/main/default/flows/richTextUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>cancelPolicy</name>
        <label>cancelPolicy</label>
        <locationX>182</locationX>
        <locationY>6287</locationY>
        <defaultConnector>
            <targetReference>X24HRcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cancel_policy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancellation_Policy_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Policy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>cancel policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_Copy_4_of_guestInstr</name>
        <label>Copy 1 of Copy 2 of Copy 4 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>trip_infor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tableMinRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Table_Minimum_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Table_Minimum_excluding_tax_gratuity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>tableMinRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_4_of_guestInstr</name>
        <label>Copy 1 of Copy 4 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_4_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>villaDetailsRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Villa_house_details_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Villa_House_Details__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>villaDetailsRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_guestInstr</name>
        <label>Copy 1 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>menuMinRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Menu_Pricing_Minimum_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Menu_Pricing_Minimum__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>menuMinRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_itemsOrdered</name>
        <label>guestInstr</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>guestInstRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Guest_Information_Special_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Guest_Information_Special_Instructions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>guestInstRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_4_of_guestInstr</name>
        <label>Copy 2 of Copy 4 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_4_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>insiderAmensRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insider_amenities_include_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Insider_Amenities_Include__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>insiderAmensRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_guestInstr</name>
        <label>Copy 2 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>instructionsRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructions_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_Pickup_Instructions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>instructionsRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_guestInstr</name>
        <label>Copy 3 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>locationNoteRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location_Note_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seat_Location__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>locationNoteRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_guestInstr</name>
        <label>Copy 4 of guestInstr</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_4_of_guestInstr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pkgPassRich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Package_pass_details_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Package_Pass_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>pkgPassRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>deliveryInfo</name>
        <label>deliveryInfo</label>
        <locationX>182</locationX>
        <locationY>5987</locationY>
        <defaultConnector>
            <targetReference>cancelPolicy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>delivery_info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Instructions_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Instructions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>delivery info</label>
        </rules>
    </decisions>
    <decisions>
        <name>descriptionRichNull</name>
        <label>descriptionRichNull</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>specialRequestsRichNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>descriptionRichIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDescriptionRich</targetReference>
            </connector>
            <label>descriptionRichIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>filghtINfo</name>
        <label>filghtINfo</label>
        <locationX>182</locationX>
        <locationY>5687</locationY>
        <defaultConnector>
            <targetReference>deliveryInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>flight_info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flight_information_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flight_Information__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>flight info</label>
        </rules>
    </decisions>
    <decisions>
        <name>houseVilla</name>
        <label>houseVilla</label>
        <locationX>182</locationX>
        <locationY>5387</locationY>
        <defaultConnector>
            <targetReference>filghtINfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>house_villa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.House_or_villa_name_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.House_or_Villa_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>house villa</label>
        </rules>
    </decisions>
    <decisions>
        <name>itemsOrdered</name>
        <label>itemsOrdered</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_itemsOrdered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cancell</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Items_Ordered_Type_of_Arrangements_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Items_Ordered__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>itemsOrderedRich</label>
        </rules>
    </decisions>
    <decisions>
        <name>occasion</name>
        <label>occasion</label>
        <locationX>182</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>houseVilla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>occasionChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occasion_reason_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Occasion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>occasionChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>refundable</name>
        <label>refundable</label>
        <locationX>182</locationX>
        <locationY>4787</locationY>
        <defaultConnector>
            <targetReference>occasion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>refund</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refundable_Non_Refundable_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Refundable__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>refund</label>
        </rules>
    </decisions>
    <decisions>
        <name>researchnode</name>
        <label>research</label>
        <locationX>182</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <targetReference>refundable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>research</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Research_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>research</label>
        </rules>
    </decisions>
    <decisions>
        <name>returnPolicy</name>
        <label>returnPolicy</label>
        <locationX>182</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>researchnode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>return_pol</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Return_policy_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Return_Policy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>return pol</label>
        </rules>
    </decisions>
    <decisions>
        <name>specialRequestsRichNull</name>
        <label>specialRequestsRichNull</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>itemsOrdered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_descriptionRichIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Special_Requests_Notes_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Special_Requests_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_setDescriptionRich</targetReference>
            </connector>
            <label>Copy 1 of descriptionRichIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>trav_infor</name>
        <label>trav infor</label>
        <locationX>182</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>returnPolicy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>trav_info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Traveler_information_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Traveler_Information__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_tripInfo</targetReference>
            </connector>
            <label>trav info</label>
        </rules>
    </decisions>
    <decisions>
        <name>trip_infor</name>
        <label>trip infor</label>
        <locationX>182</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>trav_infor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>trip_info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trip_information_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trip_Information__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tripInfo</targetReference>
            </connector>
            <label>trip info</label>
        </rules>
    </decisions>
    <decisions>
        <name>X24HRcontact</name>
        <label>24HRcontact</label>
        <locationX>182</locationX>
        <locationY>6587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X24_hr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X24_hour_contact_rich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X24_Hour_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Copy_2_of_Copy_2_of_tripInfo</targetReference>
            </connector>
            <label>24 hr</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>richTextUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>richTextUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Copy_2_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Menu_Pricing_Minimum_rich__c</field>
            <value>
                <elementReference>$Record.Menu_Pricing_Minimum__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Guest_Information_Special_rich__c</field>
            <value>
                <elementReference>$Record.Guest_Information_Special_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Copy_1_of_itemsOrdered</targetReference>
        </connector>
        <inputAssignments>
            <field>Items_Ordered_Type_of_Arrangements_rich__c</field>
            <value>
                <elementReference>$Record.Items_Ordered__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 1 of Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>5195</locationY>
        <connector>
            <targetReference>houseVilla</targetReference>
        </connector>
        <inputAssignments>
            <field>Occasion_reason_rich__c</field>
            <value>
                <elementReference>$Record.Occasion__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 1 of Copy 2 of Copy 4 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>3395</locationY>
        <connector>
            <targetReference>trip_infor</targetReference>
        </connector>
        <inputAssignments>
            <field>Table_Minimum_rich__c</field>
            <value>
                <elementReference>$Record.Table_Minimum_excluding_tax_gratuity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_tripInfo</name>
        <label>Copy 1 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>refundable</targetReference>
        </connector>
        <inputAssignments>
            <field>Research_rich__c</field>
            <value>
                <elementReference>$Record.Research__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 1 of Copy 4 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_4_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Villa_house_details_rich__c</field>
            <value>
                <elementReference>$Record.Villa_House_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_setDescriptionRich</name>
        <label>Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>itemsOrdered</targetReference>
        </connector>
        <inputAssignments>
            <field>Special_Requests_Notes_rich__c</field>
            <value>
                <elementReference>$Record.Special_Requests_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_tripInfo</name>
        <label>Copy 1 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>returnPolicy</targetReference>
        </connector>
        <inputAssignments>
            <field>Traveler_information_rich__c</field>
            <value>
                <elementReference>$Record.Traveler_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Copy_3_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Instructions_rich__c</field>
            <value>
                <elementReference>$Record.Instructions_rich__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 2 of Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>5495</locationY>
        <connector>
            <targetReference>filghtINfo</targetReference>
        </connector>
        <inputAssignments>
            <field>House_or_villa_name_rich__c</field>
            <value>
                <elementReference>$Record.House_or_Villa_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>4895</locationY>
        <connector>
            <targetReference>occasion</targetReference>
        </connector>
        <inputAssignments>
            <field>Refundable_Non_Refundable_rich__c</field>
            <value>
                <elementReference>$Record.Refundable__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 2 of Copy 4 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_4_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Insider_amenities_include_rich__c</field>
            <value>
                <elementReference>$Record.Insider_Amenities_Include__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_tripInfo</name>
        <label>Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>researchnode</targetReference>
        </connector>
        <inputAssignments>
            <field>Return_policy_rich__c</field>
            <value>
                <elementReference>$Record.Return_Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 3 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Copy_4_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Location_Note_rich__c</field>
            <value>
                <elementReference>$Record.Seat_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 3 of Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>5795</locationY>
        <connector>
            <targetReference>deliveryInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Flight_information_rich__c</field>
            <value>
                <elementReference>$Record.Flight_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Copy_1_of_Copy_1_of_Copy_1_of_setDescriptionRich</name>
        <label>Copy 4 of Copy 1 of Copy 1 of Copy 1 of setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_4_of_guestInstr</targetReference>
        </connector>
        <inputAssignments>
            <field>Package_pass_details_rich__c</field>
            <value>
                <elementReference>$Record.Package_Pass_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 4 of Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>cancelPolicy</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Instructions_rich__c</field>
            <value>
                <elementReference>$Record.Delivery_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 5 of Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>6395</locationY>
        <connector>
            <targetReference>X24HRcontact</targetReference>
        </connector>
        <inputAssignments>
            <field>Cancellation_Policy_rich__c</field>
            <value>
                <elementReference>$Record.Cancellation_Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Copy_2_of_Copy_2_of_tripInfo</name>
        <label>Copy 6 of Copy 2 of Copy 2 of tripInfo</label>
        <locationX>50</locationX>
        <locationY>6695</locationY>
        <inputAssignments>
            <field>X24_hour_contact_rich__c</field>
            <value>
                <elementReference>$Record.X24_Hour_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setDescriptionRich</name>
        <label>setDescriptionRich</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>specialRequestsRichNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_rich__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>tripInfo</name>
        <label>tripInfo</label>
        <locationX>50</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>trav_infor</targetReference>
        </connector>
        <inputAssignments>
            <field>Trip_information_rich__c</field>
            <value>
                <elementReference>$Record.Trip_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>descriptionRichNull</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
