unpackaged/main/default/flows/rollupTravelExpensesOnDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addAmount</name>
        <label>addAmount</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>travelExpenseAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTravelExpenses.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTravelExpenses</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>rollupTravelExpensesOnDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rollupTravelExpensesOnDelete</label>
    <loops>
        <name>loopTravelExpenses</name>
        <label>loopTravelExpenses</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>getRelatedTravelExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateTransportationAmount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedTravelExpenses</name>
        <label>getRelatedTravelExpenses</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopTravelExpenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Logbook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Logbook__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Amenity Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>GFT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billable_Expense__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTransportationAmount</name>
        <label>updateTransportationAmount</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Logbook__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Transportation_Price__c</field>
            <value>
                <elementReference>travelExpenseAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedTravelExpenses</targetReference>
        </connector>
        <object>Expense__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>travelExpenseAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
