unpackaged/main/default/flows/TotalTimeLogsAccts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTime</name>
        <label>AddTime</label>
        <locationX>234</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>TotalTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachContact.Time_Logged_MTD_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillableTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachContact.Billable_Time_Logged_MTD_minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTimeLogs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TotalTimeLogsAccts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TotalTimeLogsAccts</label>
    <loops>
        <name>LoopThroughTimeLogs</name>
        <label>LoopThroughTimeLogs</label>
        <locationX>229</locationX>
        <locationY>291</locationY>
        <assignNextValueToReference>eachContact</assignNextValueToReference>
        <collectionReference>allContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTimeLogged</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllTimeLogs</name>
        <label>GetAllTimeLogs</label>
        <locationX>69</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTimeLogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>allContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Logged_MTD_Minutes__c</queriedFields>
        <queriedFields>Billable_Time_Logged_MTD_minutes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTimeLogged</name>
        <label>UpdateTimeLogged</label>
        <locationX>437</locationX>
        <locationY>291</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Time_Logged_MTD_minutes__c</field>
            <value>
                <elementReference>BillableTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Logged_MTD__c</field>
            <value>
                <elementReference>TotalTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>GetAllTimeLogs</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>BillableTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eachContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>eachTimeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Log__c</objectType>
    </variables>
    <variables>
        <name>TimeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Log__c</objectType>
    </variables>
    <variables>
        <name>TotalTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
