unpackaged/main/default/flows/TotalTimeLogsOnContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTime</name>
        <label>AddTime</label>
        <locationX>234</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>TotalTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTimeLog.Duration_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalBillable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTimeLog.Billable_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTimeLogs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TotalTimeLogsOnContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TotalTimeLogsOnContact</label>
    <loops>
        <name>LoopThroughTimeLogs</name>
        <label>LoopThroughTimeLogs</label>
        <locationX>229</locationX>
        <locationY>291</locationY>
        <assignNextValueToReference>eachTimeLog</assignNextValueToReference>
        <collectionReference>TimeLogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTimeLogged</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllTimeLogs</name>
        <label>GetAllTimeLogs</label>
        <locationX>69</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTimeLogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ThisMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Time_Log__c</object>
        <outputReference>TimeLogs</outputReference>
        <queriedFields>Billable_Time__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Duration_Minutes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTimeLogged</name>
        <label>UpdateTimeLogged</label>
        <locationX>437</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>UpdateAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Time_Logged_MTD_minutes__c</field>
            <value>
                <elementReference>TotalBillable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Logged_MTD_Minutes__c</field>
            <value>
                <elementReference>TotalTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>GetAllTimeLogs</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>UpdateAccounts</name>
        <label>UpdateAccounts</label>
        <locationX>605</locationX>
        <locationY>293</locationY>
        <flowName>TotalTimeLogsAccts</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eachTimeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Log__c</objectType>
    </variables>
    <variables>
        <name>TimeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Log__c</objectType>
    </variables>
    <variables>
        <name>TotalBillable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
