unpackaged/main/default/flows/TotalHierarchicalTimeLogs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTime</name>
        <label>AddTime</label>
        <locationX>545</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>TotalTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTimeLog.Billable_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTimeLogs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TotalHierarchicalTimeLogs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TotalHierarchicalTimeLogs</label>
    <loops>
        <name>LoopThroughTimeLogs</name>
        <label>LoopThroughTimeLogs</label>
        <locationX>335</locationX>
        <locationY>184</locationY>
        <assignNextValueToReference>eachTimeLog</assignNextValueToReference>
        <collectionReference>TimeLogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTimeLogged</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllTimeLogs</name>
        <label>GetAllTimeLogs</label>
        <locationX>172</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTimeLogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentLogbookId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <object>Time_Log__c</object>
        <outputReference>TimeLogs</outputReference>
        <queriedFields>Billable_Time__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTimeLogged</name>
        <label>UpdateTimeLogged</label>
        <locationX>686</locationX>
        <locationY>301</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hierarchical_Time_Logged__c</field>
            <value>
                <elementReference>TotalTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetAllTimeLogs</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>eachTimeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Log__c</objectType>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TimeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Log__c</objectType>
    </variables>
    <variables>
        <name>TotalTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
